<div class="tipster-block">
  <div class="row">
    <div class="col-md-2">
      avatar
    </div>
    <div class="col-md-10">
      <div class="row">
        <h2> Rushverde</h2>
      </div>
      <hr size="15" style="margin-top: 0px; margin-bottom: 0px;" />
      <div class="row">
        <div class="col-md-2">
          <span class="stats-info-value">20%</span><br />
          Yield
        </div>
        <div class="col-md-2">
          <span class="stats-info-value">457</span><br />
          Picks
        </div>
        <div class="col-md-2">
          <span class="stats-info-value">56%</span><br />
          Acierto
        </div>
        <div class="col-md-2">
          <span class="stats-info-value">224</span><br />
          Seguidores
        </div>
        >> Ir a stats completas
      </div>
    </div>
  </div>
</div>
