<div class="post-block" style="max-height: 400px">
<div class="container">
  <div class="row">
    <div class="col-md-4"><img src="../../assets/img_avatar3.png" class="img-circle" width="90" height="90" /></div>
    <div class="col-md-8"><h2>{{user.username}}</h2>
      {{user.followers}} seguidores<br>
      {{user.follow_to}} seguidos
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4" style= "text-align: center;">
        <span class="stats-value">30%</span><br />
        Yield
    </div>
    <div class="col-md-4" style= "text-align: center;">
      <span class="stats-value">+2,4</span><br />
      Uds.
    </div>
    <div class="col-md-4" style= "text-align: center;">
      <span class="stats-value">@1.87</span><br />
      Cuota media
    </div>
  </div>
  <div style="margin-top: 10px">
    <a href="">Ver estadísticas completas.</a>
  </div>
</div>
</div>
