<div style="height: 40px"></div>
  <div class="row" style="margin-bottom: 40px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <search-form></search-form>
      </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <!-- <user-panel-component></user-panel-component> -->
    </div>
    <div class="col-md-6">
      <!-- <tipster-detail *ngFor="let post of posts" [post]="post"></tipster-detail> -->
      <tipster-detail></tipster-detail>
      <tipster-detail></tipster-detail>
    </div>
</div>
