<div style="height: 40px"></div>
  <div class="row" style="margin-bottom: 40px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      
      </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <search-form (sportChangeEvent)="setSportFilter($event)" (premiumFilterEvent)="setPremiumFilter($event)" (sortChangeEvent)="sortBy($event)"
       [(sportFilter)]="sportFilter" [(premiumFilter)]="premiumFilter" [(sortFilter)]="sortFilter"></search-form>
    </div>
    <div class="col-md-6">
      <tipster-detail *ngFor="let tipster of currentTipsters" [tipster]="tipster" [followed]="checkIfFollow(tipster.Id)" (followEvent)="follow($event)"></tipster-detail>
    </div>
</div>

