<div class="post-block" style="max-height: 400px; background-color: white">
  <div class="row" style="padding: 20px;"><h4>Últimos 4 meses</h4></div>
    <div class="row" style="padding: 20px">
      <div class="col-md-6">
        <div style="display: block;">
        <canvas style="height: 100%" baseChart 
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="col-md-6">
        <div style="display: block">
        <canvas style="height: 100%" baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    [colors]="doughnutChartColors"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
        <!-- <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <button (click)="randomize()">CLICK</button> -->
      </div>
    </div>
</div>
