<div class="container" align="center">
      <div class="row" style="margin-top: 40px;" >
        <div class="col-xs-12">
            <div class="panel panel-info">
              <div class="panel-heading"><h3>Login to your account</h3></div>
              <div class="panel-body">
                  <!-- <toast></toast> -->
                <form name="loginForm" class="form-horizontal" novalidate >

                  <div class="row" >
                		<div class="col-xs-12">
                        <!-- <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4"> -->
                          <!-- <div ng-show="ctrl.error.show" class="alert alert-danger">
                            {{ctrl.error.content}}
                          </div> -->
    											<div class="form-group">
    													<input type="text" name="username" class="form-control"  placeholder="Username" required/>
                              <!-- <label ng-show="loginForm.username.$touched && loginForm.username.$invalid" class="error" >
                                This field is required.
                              </label> -->
    			                </div>

    											<div class="form-group">
    													<input type="password" name="password" class="form-control"  placeholder="Password" required/>
                              <!-- <label ng-show="loginForm.password.$touched && loginForm.password.$invalid" class="error">
                                This field is required.
                              </label> -->
    			                 </div>
                        <!-- </div> -->

					           </div>
				            </div>
									<input type="submit" name="login" class="btn btn-info" value="Login" >
									<div style="margin-top: 20px" >
									<!-- <a ui-sref="register">Register</a> -->
								  </div>
                </form>

        </div>
      </div>

    </div>
  </div>
</div>
