<div class="post-block userbanner" style="height:200px;padding: 40px;">
  <div class="row">
    <div class="col-md-4">
      <div class="row" >
        <div class="col-md-4"><img src="../../../../assets/64x64/64_1.png" width="90" height="90" alt="avatar"></div>
        <div class="col-md-8"><h2>{{tipster.Alias}}</h2>
          100 seguidores<br>
          132 seguidos
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3" style="text-align: center"><span class="userbanner stats-info-value" style="color:white">{{stats[monthFilter].Yield}}%</span><br>Yield</div>
        <div class="col-md-3" style="text-align: center"><span class="userbanner stats-info-value" style="color:white">{{stats[monthFilter].Benefit}}</span><br>Unidades</div>
        <div class="col-md-3" style="text-align: center"><span class="userbanner stats-info-value" style="color:white">{{stats[monthFilter].OddAverage}}</span><br>Cuota Media</div>
        <div class="col-md-3" style="text-align: center"><span class="userbanner stats-info-value" style="color:white">{{stats[monthFilter].StakeAverage}}</span><br>Stake Medio</div>

      </div>
      <div class="row" style="margin-top: 20px">        
        <select [ngModel]="monthFilter" (ngModelChange)="monthFilterChange($event)" name="month" class="form-control" id="month" style="margin-left: 40px; max-width: 200px">
            <option value="0">Julio 2017</option>
            <option value="1">Junio 2017</option>
            <option value="2">Mayo 2017</option>
            <option value="3">Abril 2017</option>
        </select>
        </div>
    </div>
  </div>

</div>
