<div class="post-block" style="height:200px;padding: 40px">
  <div class="row">
    <div class="col-md-4">
      <div class="row" style="">
        <div class="col-md-4"><img src="../../assets/img_avatar3.png" class="img-circle" width="90" height="90" /></div>
        <div class="col-md-8"><h2>{{tipster.Alias}}</h2>
          100 seguidores<br>
          132 seguidos
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><span class="userbanner stats-info-value">{{stats[0].Yield}}%</span><br>Yield</div>
        <div class="col-md-3"><span class="userbanner stats-info-value">+{{stats[0].Benefit}}</span><br>Unidades</div>
        <div class="col-md-3"><span class="userbanner stats-info-value">{{stats[0].OddAverage}}</span><br>Cuota Media</div>
        <div class="col-md-3"><span class="userbanner stats-info-value">{{stats[0].StakeAverage}}</span><br>Stake Medio</div>

      </div>
    </div>
  </div>

</div>
