.post-block {
  margin-bottom: 1.5em;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(97,97,97,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(97,97,97,0.75);
  box-shadow: 2px 2px 5px 0px rgba(97,97,97,0.75);
      border-radius: 8px;
}

.post-block.userbanner{
    background-color: rgb(3, 77, 66);
    color: #d9ecea;

}

.tipster-block {
  background-color: white;
  height: 100px;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(97,97,97,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(97,97,97,0.75);
    box-shadow: 2px 2px 5px 0px rgba(3, 77, 66, 0.58);
    border-radius: 4px;
}

.test {
  margin-top: 200px;
}

.stats-value {
  font-size: 2em;
  font-weight: 500;
}

.stats-info-value {
  font-size: 1.2em;
  font-weight: 400;
}

.userbanner.stats-info-value{
  font-size: 2.5em;
  font-weight: 500;
}

.btn-teal {
  background-color: #18ba9b;
}
