.post-block {
  margin-bottom: 1.5em;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(97,97,97,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(97,97,97,0.75);
  box-shadow: 2px 2px 5px 0px rgba(97,97,97,0.75);
}

.sport-column {
  float: left;
  width: 20%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content-column {
  float: right;
}

.event-content {
  padding: 10px 20px;
}

.event-content h1 {
  font-size: 1.4em;
}
