<div class="row"><div class="col-md-4"></div>
<div class="col-md-3 post-block user-edit">
    <div class="avatar-content">
        <img src="../../../../assets/64x64/64_1.png" alt="avatar">
    </div>

    <form (ngSubmit)="updateUser(form.value)" #form="ngForm" style="margin-top: 40px" novalidate>
    <div class="form-group">
        <label for="Alias"><strong>Usuario:</strong></label><br>
        <label *ngIf="!isEdit"  from="name">{{currentUser.Alias}}</label>
        <input *ngIf="isEdit"
            type="text" 
            class="form-control" 
            name="Alias" 
            placeholder="{{currentUser.Alias}}"
            #username="ngModel"
            ngModel
            required
        >
    </div>
    <div class="form-group">
         <label for="sport"><strong>Deporte especializado:</strong> </label><br>
         <label *ngIf="!isEdit"  from="name">{{sportPreferedLabel}}</label>
         <select *ngIf="isEdit" [ngModel]="sportPrefered" (ngModelChange)="sportPreferedChange($event)" name="sport" class="form-control" id="sport">
            <option value="Football" >Fútbol</option>
            <option value="Basket">Baloncesto</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Email"><strong>Email:</strong></label><br>
        <label *ngIf="!isEdit"  from="name">{{currentUser.Email}}</label>
        <input *ngIf="isEdit"
            type="text" 
            class="form-control" 
            name="Email" 
            placeholder="{{currentUser.Email}}"
            #email="ngModel"
            ngModel
            required
        >
    </div>

    <button *ngIf="isEdit" type="submit" class="btn btn-success" [disabled]="false">Actualizar Usuario</button>
    <button *ngIf="!isEdit" type="button" class="btn btn-sm btn-info" (click)="isEdit=true">Editar datos</button>
</form>
    
    </div></div>
