<div class="card">
  <div class="card-block">
<form>              

    <div class="form-group">
        <label class="radio-inline"><input type="radio" value="All" name="premiumFilter" [(ngModel)]="premiumFilter" (click)="setPremiumFilter('All')" >Ambos</label>
        <label class="radio-inline"><input type="radio" value="Free" name="premiumFilter" [(ngModel)]="premiumFilter" (click)="setPremiumFilter('Free')" >Free</label>
        <label class="radio-inline"><input type="radio"  value="Premium" name="premiumFilter" [(ngModel)]="premiumFilter" (click)="setPremiumFilter('Premium')" >Premium</label>
    </div> 

    <div class="form-group" >
        <label for="sport" class="control-label">Deporte:</label>
        <select [ngModel]="sportFilter" (ngModelChange)="sportChange($event)" name="sport" class="form-control" id="sport">
            <option value="All" [selected]="sportFilter == 'All'">Todos</option>
            <option value="Football">Fútbol</option>
            <option value="Basket">Baloncesto</option>
        </select>
    </div>
        
    <div class="form-group">
        <label for="orderby" class="control-label">Ordenar por:</label>
        <div>
            <select [ngModel]="sortFilter" (ngModelChange)="sortChange($event)" class="form-control" name="sortby" id="orderby">
                <option value="yield">Yield</option>
                <option value="benefit">Unidades</option>
            </select>
        </div>
    </div>
</form>

</div>